<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>
			<h1><strong >Welcome  </strong>Home Page </h1>


      <h6><a href="/signup">SIGN UP</a></h6>
      <h6><a href="/login">LOGIN</a></h6>
  </body>
</html>
