<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/login.css">

  </head>
  <body>
			<h1><strong >Welcome  </strong>To Login Page</h1>
      <h1><a href="/">Home Page</a></h1>
      <div>
        <form id="contact-form" action="/login" method="POST">
          <!-- <div class="" style="margin:20px; float:left; text-align: center;">
            <label for="_id">Enter your ID</label>
            <input type="text" name="_id" value="" required>
          </div> -->
          <div class="" style="margin:20px; float:left; text-align: center;">
            <label for="Name">Enter your user ID</label>
            <input type="text" name="Name" value="" required>
          </div>
          <div class="" style="margin:20px; float:left; text-align: center;">
            <label for="Password">Enter your password</label>
            <input type="password" name="Password" value="" required>
          </div>
          <div class="" style="margin:20px; float:left; text-align: center;">
            <input type="submit" name="" value="Submit" >
          </div>
        </form>


      </div>
  </body>
</html>
