<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>
			<h1><strong >Welcome  </strong>To Your Profile Page <%= data.Name%></h1>
      <h4>Login Sucessful</h4>
      <p>Thanks For Login</p>

      <p>Profile Holder's Name : <%= data.Name%></p>
      <p>Profile Holder's Mobile Number : <%= data.MobileNo%></p>

      
      <button type="submit" class="btn btn-large btn-block btn-primary" action="/login" method="DELETE">Delete
        Account</button>
      <button type="submit" class="btn btn-large btn-block btn-primary">Update Account</button>
      
      <h1><a href="/">LOG OUT</a></h1>
  </body>
</html>
