<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>
			<h1><strong >Welcome  </strong>To Your Profile Page <%= data.Name%></h1>
      <h4>Login Sucessful</h4>
      <p>Thanks For Login</p>

      <p>Profile Holder's Name : <%= data.Name%></p>
      <p>Profile Holder's Mobile Number : <%= data.MobileNo%></p>

      <h6><a href="/">LOG OUT</a></h6>
  </body>
</html>
