<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>
			<h1><strong >User  </strong>Already Exist </h1>
      <h4>Try With Different User Name</h4>

      <h1><a href="/signup">SIGN UP</a></h1>
  </body>
</html>
